# The first line tells Git to ignore any files ending in .o or .a — object and archive files that may be the product of building your code

*.[oa]

#  The second line tells Git to ignore all files that end with a tilde (~)

*~

#Links How to ;   http://www.dreamincode.net/forums/topic/371581-git-gitignore-doesnt-work/
#      Implement : http://stackoverflow.com/questions/5765645/should-you-commit-gitignore-into-the-git-repos
